*{
    padding: 0;
    margin: 0;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.sgin_area{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #fff;
}

.sgin_content{
    width: 1440px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sgin_tab{
    display: flex;
}

.sgin_tab div{
    width: 150px;
    height: 40px;
    text-align: center;
    align-content: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.sgin_tab div:nth-child(1){
    background-color: #fff;
    color: #222;
}

.sgin_btn{
    display: flex;
}

.sgin_btn div{
    width: 100px;
    height: 40px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.head_area{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 800px;
    height: 100%;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    width: 200px;
    height: 100%;
    align-content: center;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

nav ul li:hover{
    color: #009F65;
}

.char{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.content{
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #fff;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    font-size: 200px;
    font-weight: bolder;
    color: #F9F9F9;
    z-index: 1;
}

.content h1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200px;
    font-size: 48px;
    z-index: 2;
}

.content h2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    font-size: 56px;
    color: #FF8088;
    z-index: 2;
}

.description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 30px;
    color: #999999;
    font-size: 20px;
    font-weight: bolder;
    z-index: 2;
}

#char{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.content2{
    width: 100%;
    height: 600px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content2_area{
    width: 1440px;
    height: 500px;
    display: flex;
    padding: 10px;
}

.content2_txt{
    width: 50%;
    height: 100%;
}

.content2_txt h1{
    color: #FF8088;
    font-size: 54px;
}

.content2_txt h2{
    font-size: 48px;
}

.content2_txt h2 span{
    color: #FF8088;
}

.content2_txt .txt1{
    color: #FF8088;
    font-weight: bold;
    line-height: 60px;
    padding-top: 40px;
    font-size: 18px;
}

.content2_txt .txt2{
    color: #999999;
}

.content2_txt .line{
    width: 100%;
    height: 0.5px;
    background-color: #999999;
    margin-top: 30px;
}

.content2_txt .add{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999999;
}

.content2_txt .add .plus{
    font-size: 24px;
    font-weight: bold;
}

.content2_img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.content2_img img{
    width: 650px;
    height: 450px;
    border-radius: 50px 0;
}